/* Correct card flip */

    /* container */
    .timecard-week-card .calendar__entry-flipper-container {
        perspective: 600px !important;
        transform: none !important;
        -webkit-transform: none !important;
    }

    /* card */
    .timecard-week-card .calendar__entry-flipper-container .calendar__entry-flipper {
        transition: transform 0.2s !important;
        transform-style: preserve-3d !important;
    }
    .timecard-week-card .calendar__entry-flipper-container.back .calendar__entry-flipper {
        transition: transform 0s !important;
    }

    /* Front and back */
    .timecard-week-card.editable .calendar__entry-flipper-container.front:hover .calendar__entry-flipper,
    .timecard-week-card.editable .calendar__entry-flipper-container.back .calendar__entry-flipper {
        transform: rotateY(180deg) !important;
    }
    .timecard-week-card .calendar__entry-flipper-container .calendar__entry-flipper .calendar__entry-flipper-back {
        transform: rotateY(180deg) !important;
        z-index: auto !important;
    }

    /* Stop all animation of the front/back because THAT IS NOT HOW YOU ANIMATE CARDS */
    .timecard-week-card.editable .calendar__entry-flipper-container.front:hover .calendar__entry-flipper .calendar__entry-flipper-front,
    .timecard-week-card.editable .calendar__entry-flipper-container.back .calendar__entry-flipper .calendar__entry-flipper-front {
        transform: none !important;
        -webkit-transform: none !important;
    }
    .timecard-week-card .calendar__entry-flipper-container .calendar__entry-flipper > * {
        transition: none !important;
    }

/* fix visual artefacts */

    /* don't crop the card when flipping */
    .timecard-week-card {
        overflow: visible !important;
    }
    #calendar-week__slider .slick-list {
        padding-top: 15px !important;
        margin-top: -15px !important;
    }

    /* Line the navigation up with the top of the page */
    .main-menu .main-dropdown ul li {
        vertical-align: top !important;
    }
    /* Regular vs extra text - fix and fit */
    .timecard-week-card .calendar__entry-item-description .calendar__entry-item-details p {
        line-height: 1.3 !important;
        letter-spacing: -.3px;
    }
    .calendar__entry-item-details {
        display: block !important;
        padding: 6px 5px 6px 10px !important;
    }

/* make things fit nicer */

    /* The time per day doesn't need that much space */
    .timecard-week-card .calendar__entry-item-description .calendar__entry-item-volume, .timecard-week-card .calendar__entry-item-description .calendar__entry-item-details {
        flex-basis: auto !important;
    }
    .calendar__entry-item-volume.col-6 {
        width: 41.66666667% !important;
    }
    .calendar__entry-item-details.col-6 {
        width: 58.33333333% !important;
    }

    /* squish text to show more */
    .timecard-week-card .calendar__entry-item-header span {
        letter-spacing: -.3px;
    }

    /* Task name - fixes and fit tweaks  */
    .timecard-week-card .calendar__entry-item-description .calendar__entry-item-details h3 {
        white-space: initial !important;
        max-height: 2.6em !important;
        margin-bottom: 3px !important;
        line-height: 1.2 !important;
        overflow: visible !important;
    }

    /* Make the front of the card more distinguishable from the back */
    .timecard-week-card.editable .calendar__entry-item-description .calendar__entry-item-volume {
        background-color: rgba(0, 152, 202, 0.9) !important;
    }

    /* Readable colour all the time please, not just on hover */
    .timecard-week-card .calendar__entry-item-header {
        color: #00264A !important;
    }

    /* We get it, you have a mobile app */
    body > div > img:only-child {
        display: none;
    }

    /* Full-size add new entry */
    .gte-timecard-week .calendar__entry-list .calendar__entry-add a {
        min-height: 8em;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    /* is the button disabled? Sure be nice to see that */
    .footer-actions .footer-submit button:disabled .fa:before {
        content: "" !important;
    }
    .footer-actions .footer-submit button:disabled:after {
        content: " unavailable";
    }

    /* left and right arrows to a reasonable size */
    .gte-timecard-week.hasPicture .calendar-header .slick-arrow:before,
    .timecard-preview-list .list.slick-slider .slick-arrow:before {
        font-size: 35px;
    }
    .gte-timecard-week .calendar-header .slick-slider .slick-next {
        right: 15px !important;
    }
    #timecard-preview__slider {
        margin: 0 55px !important;
    }
    #timecard-preview__slider button.slick-prev {
        left: -45px;
    }
    #timecard-preview__slider button.slick-next {
        right: -30px;
    }

    /* bluerred fixed header */
    .gte-timecard-week.hasPicture .calendar-header.fixed {
        background: rgba(32, 42, 64, 0.85) !important;
        backdrop-filter: blur(10px);
    }

    /* no text behind select dropdown icon */
    .form__section-wrapper section.row input.form-field, .form__section-wrapper section.row select.form-field {
        padding-right: 40px;
    }

/* Pale blue screens (new and edit time) */
    /* Space after the date and before the week number */
    .form-toolbar .form__title .date em {
        color: #0098CA;
        padding-left: 10px;
    }

    /* give it the same background as the main page */
    .page.lightblue gte-timecards-page, .page.lightblue gte-timecards-page {
        display: block;
        height: calc(100% - 65px);
        min-height: calc(100vh - 65px);
        background-color: #00264A !important;
        background-image: linear-gradient(rgba(0, 12, 23, 0.85), rgba(0, 38, 74, 0.85)), url(/assets/images/bg-calendar.min.jpg) !important;
        background-position: 50% !important;
        background-size: cover !important;
        background-attachment: fixed !important;
    }
    .page.lightblue > main {
        padding-bottom: 0 !important;
        min-height: calc(100vh - 65px);
    }

    /* center it all then */
    .page.lightblue gte-entry-creation-page, .page.lightblue gte-project-selection-page {
        width: 1044px;
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 20px 0;
    }
    .page.lightblue gte-project-selection-page {
        padding: 20px 0 50px;
    }

    .page.lightblue gte-timecard-entry-form, .page.lightblue gte-project-selector {
        background: #DDF3FA;
        display: block;
    }

    gte-timecard-entry-form > .form-wrapper {
        max-width: 1044px !important;
        padding: 0 20px !important;
    }

    gte-timecard-entry-form .form__section.form__section--buttons {
        padding-bottom: 1px;
    }
